.headerContainer {
  border-top: 10px solid #eee;
  width: 100%;
  padding: 30px 0 60px;
}

.searchBar {
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 12pt;
  max-width: 300px;
  width: 80%;
  border: 0;
  &:focus {
    outline: none;
  }
}
